# POLYGON MAINNET
VUE_APP_BLOCKCHAIN_FEED=wss://polygon-mainnet.g.alchemy.com/v2/hGMgJdGbtXON0So4Vgo9f3JKKc6yqXCC
VUE_APP_BLOCKCHAIN_CHAIN_ID=137
VUE_APP_EXPLORER_URL=https://polygonscan.com/

VUE_APP_WALLET_ADDRESS="FILL"
VUE_APP_WALLET_PRIVATE_KEY="FILL"
VUE_APP_ARBITRAGE_TIMER_INTERVAL=3000
VUE_APP_WALLET_MINIMUM_BALANCE=10000000000000
VUE_APP_NATIVE_TOKEN_SYMBOL=MATIC
VUE_APP_NATIVE_TOKEN_DECIMALS=18
VUE_APP_FLASHLOAN_FEE=0.0009
VUE_APP_PRIORITY_GAS_PRICE=2000000000000

VUE_APP_BACKEND_URL="FILL"

VUE_APP_CONTRACT_ADDRESS="0xA8b91A00120a4C121feC4127C7F46D4CE0ba3a5e"